# used in: src/config/env.ts
APPWRITE_API_KEY=

# used in: src/config/env.ts
APPWRITE_DATABASE_ID=

# used in: src/config/env.ts
APPWRITE_PROJECT_ID=

# used in: src/config/env.ts
EXPO_PUBLIC_EXPRESS_BASE_URL=

# used in: src/config/env.ts
EXPRESS_PORT= 
