# used in: BackEnd/shared/config/env.js, FrontEnd/src/config/env.ts
APPWRITE_API_KEY=

# used in: BackEnd/auth/appwrite/setupdb.js, BackEnd/shared/config/env.js, FrontEnd/src/config/env.ts
APPWRITE_DATABASE_ID=
APPWRITE_USERS_TABLE_ID=users

# used in: BackEnd/shared/config/env.js
APPWRITE_EMAIL_VERIFICATION_URL=

# used in: BackEnd/shared/config/env.js
APPWRITE_ENDPOINT=

# used in: BackEnd/shared/config/env.js, FrontEnd/src/config/env.ts
APPWRITE_PROJECT_ID=

# used in: BackEnd/shared/config/env.js
APPWRITE_USERS_TABLE_ID=

# used in: FrontEnd/src/config/env.ts
EXPO_PUBLIC_EXPRESS_BASE_URL= 

# used in: BackEnd/shared/config/env.js
EXPRESS_APP_BASE_URL=

# used in: BackEnd/shared/config/env.js, FrontEnd/src/config/env.ts
EXPRESS_PORT=

# used in: BackEnd/shared/middlewares/errorHandler.js
NODE_ENV= 914e02685706613d6067d74d89d68cdb787c8d8a
