# Auto GEN using spotenv
# used in: BackEnd/scripts/setupStorage.js, BackEnd/scripts/setupdb.js
APPWRITE_API_KEY=

# used in: BackEnd/scripts/setupdb.js
APPWRITE_DATABASE_ID=

# used in: BackEnd/scripts/setupStorage.js, BackEnd/scripts/setupdb.js
APPWRITE_ENDPOINT=

# used in: BackEnd/scripts/setupStorage.js, BackEnd/scripts/setupdb.js
APPWRITE_PROJECT_ID=
