APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a3d596f000f3cb24704
APPWRITE_API_KEY=api_key
APPWRITE_DATABASE_ID=6a3d5a7f001b6f0506a7
APPWRITE_USERS_TABLE_ID=auth
APP_BASE_URL=http://localhost:5000
APPWRITE_EMAIL_VERIFICATION_URL=http://localhost:5000/auth/verify-email
