APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=project_id
APPWRITE_API_KEY=api_key
APPWRITE_DATABASE_ID=database_id
APPWRITE_USERS_TABLE_ID=users
APP_BASE_URL=http://localhost:5000
APPWRITE_EMAIL_VERIFICATION_URL=http://localhost:5000/auth/verify-email
